@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'mermaid';
    src: url('../fontes/mermaid/mermaid.ttf') format('truetype');
}
@font-face {
    font-family: 'roboto';
    src: url('../fontes/roboto/roboto-regular.ttf') format('truetype'), url('../fontes/roboto/roboto-bold.ttf') format('truetype'); /*tem a NORMAL e a BOLD*/
}

:root { /*Root é uma confugração por cima está em cima abaixo da regra*/
    --cor0: #de85fe;
    --cor1: #CB38FF;
    --cor2: #8A17B3;
    --cor3: #FFC608;
    --cor4: #17b0b3; 
    --cor5: #4FFCFF;
    --fonte-padrao: 'roboto', sans-serif;
    --fonte-titulo: 'mermaid', serif;
    --fonte-destaque: 'Kanit', sans-serif; /*Links*/
    /*FONTES TÃO FUNCIONANDO MAS FICARAM RUINS*/
}

* { /*É uma configuração que aplica um estilo único em todas as tags*/
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(#f3bd0e, #edbc1b, #e3b82b);
    min-height: 80px;
    padding-top: 15px;
    text-align: center;
}

header h1 {
    text-align: center;
    font-family: var(--fonte-titulo);
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
    color: var(--cor4);
    margin-bottom: 10px;
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
    color: white;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto auto auto auto;
}

nav {
    background-color: #e3b82bde;
    padding: 2px 2px 2px 9px;
    box-shadow: 0px 7px 7pxx rgba(0, 0, 0, 0.363);
}

nav > a {
    color: var(--cor4);
    font-weight: bold;
    font-family: var(--fonte-padrao);
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.5s;
    text-decoration: none;
    margin-right: 40px;
    display: inline-block;
    width: 20px;
    text-align: center;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);

}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    height: 100vh;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.100);
    padding: 20px;
    margin: auto auto 30px auto;
    border-radius: 0px 0px 7px 7px;
}

main > h1 {
    text-align: center;
    font-family: var(--fonte-titulo);
    padding: 5px;
    margin-bottom: 30px;
}

section {
    margin-top: 10px;
    background-image: linear-gradient(90deg, var(--cor0), var(--cor1));
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.263);
}

section > h2 {
    background-color: var(--cor2);
    color: white;
    font-family: var(--fonte-titulo);
    padding: 5px;
    margin: -10px -10px 5px -10px;
    border-radius: 10px 10px 0px 0px;
}

section > ul {
    list-style-position: inside;
    list-style-type: '\1F480\00A0\00A0';
}

main strong {
    background-color: var(--cor5);
    font-family: var(--fonte-destaque); /*N vai ter font-weight*/
}

footer {
    background-color: var(--cor4);
    padding: 5px;
    font-family: var(--fonte-destaque);
}

footer p {
    text-align: center;
}

footer > p > a {
    color: var(--cor2);
    font-family: var(--fonte-destaque);
    font-weight: bold;
    text-decoration: none;
}

footer > p > a:hover {
    text-decoration: underline;
    color: var(--cor5);
}